/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


  .hamlogo{
    display: inline;
  }

  .icon{
    display: inline;
    width: 50px;
    height: 50px;
  }

  .handymenu {
    display: inline;
    overflow: hidden;
    background-color: #00000000;
    position: fixed;

  }

  .handymenu #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .handymenu a {
    display: inline;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .handymenu a.icon {
    display: inline;
    background: #00000000;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  /* Add a grey background color on mouse-over */
  .handymenu a:hover {
    display: inline;
    background-color: #00000000;
    color: #00000000;
  }

  /* Style the active link (or home/logo) */
  .active {
    display: inline;
    background-color: #00000000;
    color: #00000000;
  }

  .back1 {
  background-image: url('bilder/768bis1024/Bild1.png');
  height: -webkit-fill-available;
  }

  .back2 {
  background-image: url('bilder/768bis1024/Bild2.png');
  height: -webkit-fill-available;
  }

  .back3 {
  background-image: url('bilder/768bis1024/Bild3.png');
  height: -webkit-fill-available;
  }

  .back4 {
  background-image: url('bilder/768bis1024/Bild4.png');
  height: -webkit-fill-available;
  }

  .back5 {
  background-image: url('bilder/768bis1024/Bild5.png');
  height: -webkit-fill-available;
  }

	.alink1 { /* logoentwicklung link deko */

				text-decoration: none;

			}


			.alink1:hover { /*Farbe link logoentwicklung */

			}





	.alink3 { /*  typotyp  link deko*/

				text-decoration: none;
			}

			.alink3:hover{ /*Farbe link typotyp */

			}




	.alink5 { /* titel standart text mit schtrift grösse */

				text-decoration: none;
				font-size: 25px;
				padding-left: 0px;
				padding-right: 5px;
	}

	span.abstand {
				padding-right: 10px;
				padding-left: 10px;
	}
	div.tpos1{
				position: fixed;
				left: 10%;
				top: 50%;
	}
	div.tpos2{
				position: fixed;
				left: 26%;
				top: 28%;
	}
	div.tpos3{
				position: fixed;
				top: 70%;
				left: 45%;
	}
	div.tpos4{
				position: fixed;
				top: 60%;
				left: 70%;
	}
	div.nav{
				font-size: 20px;
				font-style: normal;
				font-weight: 600;
				position: fixed;
				right: 0px;
				top: 0px;
	}

	.bildholderipresum {

		height: 200px;
		width: 300px;
		margin-top: 10px;

	}

	span.clink14 { /* impresum text überbild */
		font-size:17px;
		font-style:normal;
		font-weight:600;
		float: left;

	}

	span.clink13 {
		font-size:25px;
		font-style:normal;
		font-weight:600;
		position: fixed;
		bottom: 8px;
		left: 50px;
		border-right-style: 50;
		border-left-style: 50;

	}

  .nohovertypografie {
  	text-decoration: none;
  	font-size: 25px;

    padding-right: 5px;
  }

  .nohovertypotyp {
  	text-decoration: none;
  	font-size: 25px;

    padding-right: 5px;
  }

  .nohoverlogoentwicklung {
  	text-decoration: none;
  	font-size: 25px;

    padding-right: 5px;
  }

  .nohoverillustration {
  	text-decoration: none;
  	font-size: 25px;

    padding-right: 5px;
  }

  .nohoverimpressum {
  	text-decoration: none;
  	font-size: 25px;

    padding-right: 5px;
  }

  .titlewhotypotyp {
  	position: fixed;
  	top: 70%;
  	left: 35%;
  }

  .titlewhotypografie {
  	position: fixed;
  	top: 20%;
  	left: 20%;
  }

  .titlewhologoentwicklug {
  	position: fixed;
  	top: 51%;
  	left: 15%;
  }

  .titlewhoillustration {
  	position: fixed;
  	top: 70%;
  	left: 80%;
  }

  .txttypografie {
  	position: fixed;
  	top: 60%;
  	left: 30%;
  }

  .titlewhoimpresum {
  	position: fixed;
  	top: 51%;
  	left: 15%;
  }

  .txttypotyp {
  	position: fixed;
  	left: 60%;
  	top: 40%;
  }

  .txtlogoentwwicklung {
  	position: fixed;
  	left: 60%;
  	top: 40%;
  }

  .txtillustration {
  	position: fixed;
  	left: 20%;
  	top: 20%;
  }

}
